<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191308332361-jkhlfts75393f9pohu8f1dsrlf9foj12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191308332361-jkhlfts75393f9pohu8f1dsrlf9foj12</string>
	<key>API_KEY</key>
	<string>AIzaSyDhQCn5IPadFiifWpslNGl5yF61rxar4sM</string>
	<key>GCM_SENDER_ID</key>
	<string>191308332361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.saivinayak.power.systems.saiVinayakPowerSystems</string>
	<key>PROJECT_ID</key>
	<string>saivinayakpowersystem</string>
	<key>STORAGE_BUCKET</key>
	<string>saivinayakpowersystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191308332361:ios:8952ecacc414d942762e98</string>
</dict>
</plist>